GEMINI_API_KEY='GEMINI API KEY'
OPENROUTER_API_KEY='YOUR_OPENROUTER_API_KEY_HERE'

# Flask
SECRET_KEY='dev-secret-key-change-me'
FLASK_DEBUG='True'
PROVIDER_DEBUG= '0'

# Database (MySQL)
DB_HOST='127.0.0.1'
DB_PORT='3306'
DB_USER='root'
DB_PASSWORD=''
DB_NAME='zekai_db'

# Seed: Default Admin (bootstrap)
SEED_ADMIN_ENABLED='True'
SEED_ADMIN_EMAIL='admin@admin.com'
SEED_ADMIN_PASSWORD='123456'
SEED_ADMIN_FIRST_NAME='Admin'
SEED_ADMIN_LAST_NAME='User'
SEED_ADMIN_IS_VERIFIED='True'
SEED_ADMIN_IS_ADMIN='True'
